
[submodule "Tecsys-Frontend"]
	path = Tecsys-Frontend
	url = https://github.com/codedontblow-org/Tecsys-Frontend.git
[submodule "Tecsys-backend"]
	path = Tecsys-backend
	url = https://github.com/codedontblow-org/Tecsys-backend.git
